<%@ page contentType="text/html;charset=UTF-8"%>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="layout" content="main" />
<title>GPSCapture Controller</title>
</head>
<body>
	<div class="body">
		<g:link action="tmpfiles">View and delete CSV-Files on server</g:link>
	</div>
</body>
</html>